video-card {
    display: block;
    position: relative;
    padding: 24px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: white;
    margin: 0 16px 16px 0;
    width: 100%;
    max-width: 865px;
}

video-card:first-child {
    margin-top: 20px;
}
img {
    background-color: gray;
}

video-card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}

.video-card-flat {
    box-shadow: none;
}

video-card,
video-card-title,
video-card-subtitle,
video-card-content,
video-card-actions {
    display: block;
    margin-bottom: 16px;
}

video-card-title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}

video-card-description {
    font-size: 15px;
}

video-card-subtitle {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}

video-card-content {
    font-size: 14px;
    margin: 0 -8px;
}

video-card-actions {
    margin-left: -8px;
    margin-right: -8px;
    padding: 8px 0;
}

[video-card-image] {
    width: calc(100% + 48px);
    margin: 0 -24px 16px -24px;
}

[video-card-xl-image] {
    width: 240px;
    height: 240px;
    margin: -8px;
}

video-card-footer {
    position: absolute;
    bottom: 0;
}

video-card-actions [md-button],
video-card-actions [md-raised-button] {
    margin: 0 4px;
}

/* HEADER STYLES */
video-card-header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 40px;
    margin: -8px 0 16px 0;
}

.video-card-header-text {
    height: 40px;
    margin: 0 8px;
}

[video-card-avatar] {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

video-card-header video-card-title {
    font-size: 14px;
}

/* TITLE-GROUP STYLES */
[video-card-sm-image], [video-card-md-image], [video-card-lg-image] {
    margin: -8px 0;
}

video-card-title-group {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 -8px;
}

[video-card-sm-image] {
    width: 80px;
    height: 80px;
}

[video-card-md-image] {
    width: 112px;
    height: 112px;
}

[video-card-lg-image] {
    width: 152px;
    height: 152px;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
    video-card {
        padding: 24px 16px;
    }

    [video-card-image] {
        width: calc(100% + 32px);
        margin: 16px -16px;
    }

    video-card-title-group {
        margin: 0;
    }

    [video-card-xl-image] {
        margin-left: 0;
        margin-right: 0;
    }

    video-card-header {
        margin: -8px 0 0 0;
    }

    video-card-actions,
    video-card-content {
        margin-left: 0;
        margin-right: 0;
    }


}

/* FIRST/LAST CHILD ADJUSTMENTS */
.video-card > :first-child,
video-card > :first-child {
    margin-top: 0;
}

.video-card > :last-child,
video-card-content > :last-child {
    margin-bottom: 0;
}

[video-card-image]:first-child {
    margin-top: -24px;
}

.video-card > video-card-actions:last-child {
    margin-bottom: -16px;
    padding-bottom: 0;
}

video-card-actions [md-button]:first-child,
video-card-actions [md-raised-button]:first-child {
    margin-left: 0;
    margin-right: 0;
}

video-card-title:not(:first-child),
video-card-subtitle:not(:first-child) {
    margin-top: -4px;
}

video-card-header video-card-subtitle:not(:first-child) {
    margin-top: -8px;
}

.video-card > [video-card-xl-image]:first-child {
    margin-top: -8px;
}

.video-card > [video-card-xl-image]:last-child {
    margin-bottom: -8px;
}
