<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Angular2 Observables</span>
    </div>
    <div class="mdl-navigation"></div>
  </header>
  <main class="mdl-layout__content layout-margin">
    <div class="page-content layout-padding">
      <div class="container padding-0">
        <ul>
          <li><a [class.active]="isActive(['Typehead'])" [routerLink]="['Typehead']">Youtube Search Example</a></li>
          <li><a [class.active]="isActive(['Weather'])" [routerLink]="['Weather']">Firebase Weather Example</a></li>
          <li><a [class.active]="isActive(['Tourist'])" [routerLink]="['Tourist']">Tourist Example</a></li>
        </ul>
      </div>

      <router-outlet></router-outlet>
    </div>
  </main>
</div>